body {
  color: rgb(110, 110, 110);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.75rem;
}

section {
  text-align: center;
}

.btnDefault {
  background-color: silver;
  border: none;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
  font-size: 1.75rem;
  padding: 0.75rem;
}

.btnDefault:active {
  background-color: rgb(110, 110, 110);
}

hr {
  background-color: silver;
  border: 0.75rem solid silver;
}

img {
  display: inline-block;
  height: 5rem;
  margin-left: 0vw;
  width: 5rem;
}

.transition {
  transition-property: margin-left;
  transition-timing-function: cubic-bezier(2, 4, 2, 8);
}

.finish {
  background-color: rgb(110, 110, 110);
  border: 0.15rem solid rgb(110, 110, 110);
  height: 40rem;
  position: absolute;
  right: 15vw;
  top: 0vh;
}

.custom {
  background-color: rgb(230, 230, 230);
  border: 0.15rem solid rgb(160, 160, 160);
  border-radius: 1rem;
  display: none;
  height: fit-content;
  left: 50%;
  padding-top: 2.5rem;
  position: absolute;
  text-align: center;
  top: 1.5rem;
  transform: translateX(-50%);
  transition: opacity 0.75s;
  width: 30rem;
}

.custom .btnDefault {
  margin: 2.5rem;
  width: 7.5rem;
}